*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'sans-serif';
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

button.btn-chatbox{
    position: fixed;
    bottom: 60px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 1.5em;
    color: white;
    background: linear-gradient(90deg, #E21D7C 20.12%, #DD1F7F 35.84%, #CF2687 54.53%, #B73195 74.75%, #9541A9 95.91%, #8E44AD 100%);
    cursor: pointer;
}

button.btn-chatbox > ion-icon{
    transition: 0.1s ease-in;
}


button.btn-chatbox:hover > ion-icon{
    transform: scale(1.2);
}

button.btn-chatbox span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 50px;
    height: 50px;
    z-index: 20;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in;
    border-radius: 50%;
}


button span ion-icon{
    transition: transform 0.05s ease-out;
    transform: translateX(12px);
}

button span ion-icon:last-child{
    opacity: 0;
}


button.btn-chatbox:hover span, button.btn-chatbox.active span{
    transform: translate(-50%, -50%) scale(1.02);
    box-shadow: #cf268650 0px 4px 24px;
}


button.btn-chatbox.active span{
    background-color: rgb(248, 176, 176);
    box-shadow: none;
    box-shadow: 0 2px 30px rgb(0, 0, 0, 0.1);
}


button.btn-chatbox.active span ion-icon{
    color: white;
}

button.btn-chatbox.active span ion-icon{
    transform: translateX(-11px);
    opacity: 1;
}

button.btn-chatbox.active span ion-icon:first-child{
    opacity: 0;
}

.chatbox{
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 370px;
    height: 570px;
    /* background-color: red; */
    border-radius: 15px;
    box-shadow: 2px 2px 25px rgb(0, 0, 0, 0.05);
    overflow: hidden;
    opacity: 0;
    transition: 0.2s ease-in-out;
}


.chatbox.active{
    opacity: 1;
    transform: translateX(-25px);
}


.chatbox .header{
    position: relative;
    height: 90px;
    width: 100%;
    background: linear-gradient(to right, #E21D7C, #dd247d, #db3284, #ec70ac);
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    box-shadow: 0 2px 30px rgb(0, 0, 0, 0.05);
}


.chatbox .header .left, .chatbox .header .right{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.chatbox .header img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.chatbox .header .left span{
    font-weight: bold;
    color: white;
}


.chatbox .header .right ion-icon{
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}


.chatbox .header .right div{
    cursor: pointer;
}

.chatbox aside{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 25px;
    gap: 10px;
    background: linear-gradient(to right, #E21D7C, #dd247d, #db3284, #ec70ac);
}

.chatbox aside span{
    color: white;
    font-size: 0.85em;
}

.chatbox aside .ligne{
    width: 8px;
    height: 8px;
    background-color: rgb(47, 255, 141);
    border-radius: 50%;
}

.chatbox .chat{
    width: 100%;
    position: relative;
    padding: 10px 30px;
    height:55%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 7px;
}


.chatbox .chat span{
    width: max-content;
    height: max-content;
    padding: 7px 10px;
    border-radius: 12px;
    font-size: 0.8em;
    max-width: 60%;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.02);
}

.chatbox .chat .send{
    align-self: flex-end;
    /* background: linear-gradient(to right, #E21D7C, #dd247d, #db3284, #ec70ac); */
    color: white;
    background-color: #ec4294;
}

.chatbox .chat .outcome{
    background-color: rgb(238, 238, 238);
    color: black;
    font-weight: 100;
    align-self: flex-start;
}

.close, .more{
    position: relative;
    padding: 5px;
}


.close::before, .more::before{
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: 0.1s ease-in-out;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.104);
    transform: scale(0);
}

.close:hover::before, .more:hover::before{
    transform: scale(1);
}



.chatbox .field{
    margin-top: 15px;
    width: 100%;
    padding: 0 25px;
}

.chatbox .field textarea{
    width: 100%;
    height: 70px;
    border: none;
    border-top: 1px solid rgb(221, 221, 221);
    outline: none;
    padding: 5px 10px;
}

